
<div class="page-wrapper">
<main class="main">
    <div class="page-content">
        <div class="checkout">
            <div class="container mt-100 mb-100 text-center">  
              <h2 class="text-danger"> Oops! payment failed.</h2>
              <h3>Your order has not been placed, please try again later</h3>
              <a href="/proceed-to-checkout" class="btn btn-outline-dark-2 btn-block m-3" ><span>RETRY</span><i class="icon-refresh"></i></a>
                <a href="/my-account" class="btn btn-outline-dark-2 btn-block my-3" ><span>MY ORDERS</span><i class="icon-refresh"></i></a> 
            </div><!-- End .container -->
        </div><!-- End .checkout -->
    </div><!-- End .page-content -->
</main><!-- End .main -->
</div>
